body {
    background-color: rgb(245, 190, 119);
}



img {
    width: 100px;
    height: 100px;
}

.doos {
    background-color: rgb(86, 243, 222);
    border:5px outset black;
    text-align: center;

}

ul{
  color:blue
}

li {
    display: inline;
    list-style:none;
}

.article{
    margin:20px;
    padding:10px;
    border:1px solid black;
}

.footer{
 position: absolute;
 background-color: blue;
 border:solid rgb(255, 251, 251);
  bottom:0;
 width: 100%;
 height:auto;
 text-align: center;
}
